<template>
	<div>
			<button @click="onClick" type="button" :class="classButton">{{ labelButton }}</button>
	</div>
</template>
<script>
import BanipayCheckout from "./banipay-web.min.js"

	export default {
		name: 'VueBanipay',
		props: {
			labelButton: {
				type: String,
				default: "Pagar con BaniPay"
			},
			classButton: {
				type: String,
				default: " "
			},
			environmentType: {
				type: String,
				default: "Dev"
			},
			affiliateKey: {
				type: String,
				default: "02e4b31f-20bd-43f9-9f2d-3ef7733f2d0f"
			},
			businessKey: {
				type: String,
				default: "02e4b31f-20bd-43f9-9f2d-3ef7733f2d0f"
			},
			successUrl: {
				type: String,
				default: "https://banipay.me"
			},
			failUrl: {
				type: String,
				default: "https://banipay.me"
			},
			notificationUrl: {
				type: String,
				default: "https://banipay.me"
			},
			amount: {
				type: Number,
				default: 0
			},
			currency: {
				type: String,
				default: "BOB"
			},
			description: {
				type: String,
				default: "Producto"
			},
			externalCode: {
				type: String,
				default: "ABC000"
			},
			bdd: {
				type: Array,
				default() {
					return []
				}
			},
			eventHandler: {
				type: Object,
				default: function () {
					return {
						onSuccess: function (payload) {
							console.log(payload)
						},
						onError: function (error) {
							console.log(error)
						},
						onClose: function () {
							console.log('BaniPay is closing')
						}
					}
				}
			},
		},
		components: { BanipayCheckout },
		methods: {
			onClick: function () {
				let config = {
						environmentType: this.environmentType,
				    affiliateKey: this.affiliateKey,
				    businessKey: this.businessKey,
				    successUrl: this.successUrl,
				    failUrl: this.failUrl,
						notificationUrl: this.notificationUrl,
						amount: this.amount,
						currency: this.currency,
 						description: this.description,
						externalCode: this.externalCode,
						bdd: this.bdd,
				    eventHandler: this.eventHandler
				}
				let checkout = new BanipayCheckout(config);
			}
		}
	}
</script>
